/* MAIN */

/* hr */
.line {
    position: relative;
    top: 5px;
    border: 1px solid black;
}

#certificates-pics {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    height: 300px;
}

#certificates-pics:hover {
    transform: scale(2);
    align-items: center;
}