/* MAIN */

.about-certificates {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-weight: bold;
    color: rgb(255, 0, 0);
    font-size:larger;
    margin: 0px 20px;
}

#certificates-pics {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    height: 300px;
}

img:hover {
    transform: scale(2);
    align-items: center;
}

