/* MAIN */

.introduction {
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}

/* hr */
.line {
    position: relative;
    top: 5px;
    border: 1px solid black;
}

.contact-box {
    list-style: none;
    margin: 20px 0px 0px 30px;
    font-size: 20px;
}

.btn-contact-names {
    display: block;
    position: relative;
    bottom: 41px;
    left: 80px;
    /* text-decoration: none; */
}

img#linkedin {
    right: 7px;
    width: 64px;
    height: 42px;
    transform: scale(1.2);
}

img#github {
    position: relative;
    right: 14px;
    width: 79px;
    height: 45px;
    transform: scale(1.2);
}

.btn-contact-names:link {
    color: rgb(0, 0, 0);
}

.btn-contact-names:visited {
    color: green;
}

.btn-contact-names:hover {
    color: rgb(240, 76, 0);
}