*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {/*
    background-image: url(/personal-web/images/matrix.jpg);
    background-size: cover;*/
    background-color: rgb(53 52 52);
}

                        /* HEADER */

header {
    position: fixed;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin: 0px 100px 0px 331px;
    padding: 10px;
    font-size: larger;
    background-color: black;
    width: 1050px;
    height: 73px;
}

/* Navigate*/

nav {
    position: relative;
    margin-top: -4px;
}

nav ul li {
    width: 112px;
    list-style-type: none;
    float: left;
    border-radius: 10px;
    margin: 12px;
    padding: 5px;
    text-align: center;
}

nav ul li a {
    width: 100px;
    padding: 2px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a:hover {
    border-bottom: 2px solid white;
    border-radius: 10px;
}

a#main {
    border-bottom: 2px solid white;
    border-radius: 10px;
}

a#techstack {
    border-bottom: 2px solid white;
    border-radius: 10px;
}

a#certificates {
    border-bottom: 2px solid white;
    border-radius: 10px;
}

a#contact {
    border-bottom: 2px solid white;
    border-radius: 10px;
}

/*Datetime*/

header p {
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    font-weight: bold;
    color: white;
    font-size:larger;
    margin: -30px 10px;
}

                        /* MAIN */

.container {
    position: absolute;
    top: 70px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0px 137px 0px 331px;
    padding: 10px;
    background-color: black;
    width: 1050px;
    height: auto;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size:larger;
    margin: 0px 20px;
}
img.me {
    position: fixed;
    top: 113px;
    transform: scale(1.5);
    left: -70px;
    height: 480px;
    background-image: url("images/me.jpg");
    border-right: 2px solid black;
    border-radius: 50px;
}


                        /* FOOTER */
footer {
    position: absolute;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin: 1000px 100px 0px 331px;
    padding: 10px;
    background-color: black;
    width: 1050px;
}

footer p {
    font-size: 10px;
    text-align: left;
    color: white;
}