*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/personal-web/images/matrix.jpg);
    background-size: cover;
}

/* HEADER */

header {
    position: fixed;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin: 0px 100px 0px 331px;
    padding: 10px;
    font-size: larger;
    background-color: black;
    width: 1050px;
}

.nav {
    position: relative;
    top: 10px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

a#main {
    background-color: rgb(255, 255, 255);
    color: black;
}

a#techstack {
    background-color: rgb(255, 255, 255);
    color: black;
}

a#contact {
    background-color: rgb(255, 255, 255);
    color: black;
}

a#certificates {
    background-color: rgb(255, 255, 255);
    color: black;
}

header p {
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    font-weight: bold;
    color: white;
    font-size:larger;
    margin: 0px 20px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-weight: bold;
    color: rgb(0, 255, 153);
    font-size:larger;
    margin: 0px 20px;
}

/* MAIN */

.container {
    position: absolute;
    top: 70px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0px 137px 0px 331px;
    padding: 10px;
    background-color: black;
    width: 1050px;
    height: auto;
}

img.me {
    position: fixed;
    top: 113px;
    transform: scale(1.5);
    left: -70px;
    height: 480px;
    background-image: url("images/me.jpg");
    border-right: 2px solid black;
    border-radius: 50px;
}


/* FOOTER */
footer {
    position: absolute;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin: 1000px 100px 0px 331px;
    padding: 10px;
    background-color: black;
    width: 1050px;
}

footer p {
    font-size: 10px;
    text-align: left;
    color: white;
}