*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 220, 220);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

                        /* HEADER */

header {
    position: fixed;
    border: 1px solid rgb(0, 0, 0);
    font-family: "Times New Roman", Times, serif;
    /* border-radius: 10px; */
    transform: translate(31.5%, 0%);
    padding: 10px;
    font-size: larger;
    background: rgb(255, 255, 255);
    z-index: 1000;
    width: 1050px;
    height: 72px;
}

/* Navigate*/

nav {
    position: relative;
    margin-top: -10px;
}

nav ul li {
    width: 140px;
    list-style-type: none;
    float: left;
    border-radius: 10px;
    margin: 12px;
    padding: 5px;
    text-align: center;
}

nav ul li a {
    display: inline-block;
    width: 128px;
    padding: 4px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
}

nav ul li a:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    display: inline-block;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

/*Datetime*/

.datum-cas {
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size:larger;
    margin: -30px 10px;
}

                        /* MAIN */

.container {
    position: relative;
    top: 70px;
    border: 1px solid rgb(0, 0, 0);
    /* border-radius: 10px; */
    transform: translate(31.5%, 0%);
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 1050px;
    height: auto;
}

p {
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size:larger;
    margin: 0px 20px;
}

.line {
    position: relative;
    bottom: 10px;
    border: 1px solid black;
}

.about-me {
    font-size: 15px;
    width: 650px;
    line-height: 25px;
}

.btn-about-me:hover {
    color: rgb(240, 76, 0);
}

img.me {
    position: fixed;
    top: 113px;
    transform: scale(1.5);
    left: -70px;
    height: 480px;
    background-image: url("images/me.jpg");
    border-right: 1px solid black;
    /* border-radius: 50px; */
}


                        /* FOOTER */
footer {
    position: sticky;
    font-family: "Times New Roman", Times, serif;
    bottom: 0px;
    border: 1px solid rgb(0, 0, 0);
    /* border-radius: 10px; */
    margin: 1000px 100px 20px 331px;
    padding: 10px 10px 10px 0px;
    background-color: rgb(255, 255, 255);
    width: 1050px;
}

footer p {
    font-size: 10px;
    text-align: left;
    color: rgb(0, 0, 0);
}